<section class="py-5 ">
    <footer id="mainfooter" class="py-5 bg-indigo">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; 2023</p>
        </div>
    </footer>
</section>
